body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.quiz-container {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 28px;
    background-color: #3498DB;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.65);
}

#question-container {
    margin-bottom: 30px;
    font-size: 20px;
    background-color: #d2d1d5;
    font-weight: 900;
    padding: 1rem;
    border-radius: 2rem;
}

.option-button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 0;
    background-color: #404041;
    color: #fcf8f8;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.option-button:hover {
    background-color: #6fc9c9;
    color: black;
}

.option-button.correct {
    background-color: #28a745;
}

.option-button.wrong {
    background-color: #dc3545;
}

#next-button {
    display: none;
    margin-top: 20px;
    padding: 12px 0;
    width: fit-content;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.4rem;
}

#next-button:hover {
    background-color: #0B6623;
}

#result-container {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#submit-button {
    background-color: #200ae6;
    transition: background-color 0.9s ease;
    width: fit-content;
    padding: 0.4rem;
}

#submit-button:hover {
    background-color: #0c035f;
    color: white;
}

#start-quiz-button {
    background-color: rgb(0, 183, 0); /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 4px 2px;
    transition-duration: 1s;
    cursor: pointer;
    border-radius: 12px;
    font-weight: 900;
    box-shadow: 0px 0px 0px 1px black;
}

#start-quiz-button:hover {
    background-color: #76ff5b; /* Darker Green */
    color: rgb(1, 5, 26);
    font-weight: 800;
    transition-duration: 1s;
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
}
h3{
    background-color: rgba(255, 255, 255, 0.424);
    font-size: large;
    font-weight: bolder;
    width: fit-content;
    border-radius: 2rem;
    padding: 1rem;
}

input{
    
    padding: 0.4rem;
    margin: 0.2rem;
    font-size: large;
    font-weight: 600;
    border-color: black;
    border-radius: 1rem;

}
#submit{
    background-color: #200ae6;
    color: white;
    font-size: large;
    font-weight: bolder;
    border-color: black;
    cursor: pointer;
}

.blur {
    filter: blur(3px); /* Adjust the blur amount as needed */
}

