
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 2px 1.5px rgba(0, 0, 0, 0.8);
}
h1, h2, h3 {
  margin-top: 0;
  
}
h1{
    background-color:#007bff;
    color: white;
    box-shadow: 2px 4px 1px 0px rgba(0, 0, 0, 0.6);
    padding: 0.6rem;
    border-radius: 0.4rem;
    
    
}
.question {
  margin-bottom: 2rem;
  padding: 0.5rem;
  background-color: #ebebeba7;
  border-radius: 1rem;
  font-size: larger;
  box-shadow: 0px 1.2px 0px 1.5px  rgba(0, 0, 0, 0.61);
}
.options {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-self: center;
  text-align-last:left;

}
.option {
  
  font-size: large;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px 1px  black;
  
  
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
}
#submit{
    background-color: #28a745;
}
#submit:hover{
    background-color: green;
}
button:hover {
  background-color: #0056b3;
}
.correct-answer {
  color: rgb(0, 254, 0);
  /* font-size: 2rem; */
  font-weight: 900;
}
.incorrect-answer {
  color: red;
  /* font-size:1.5rem; */
  font-weight: 900;
}
.result {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}
.correct-result {
  background-color: #28a745; /* Green */
}
.incorrect-result {
  background-color: #dc3545; /* Red */
}
.homepage-container {
  display: block;
}

.quiz-container {
  display: none;
}

